{% extends "base.html" %}
{% load static %}

{% block title %}
  <title data-normal-text="Thông tin người dùng">Hồ Sơ Đạo Hữu</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'register/css/register-info.css' %}">
{% endblock %}


{% block content %}
  <a href="{% if source == 'camera' %}{% url 'register-camera' %}{% else %}{% url 'register-upload' %}{% endif %}" class="back-btn">
    <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path d="M15 18l-6-6 6-6"/>
    </svg>
  </a>

  <div class="container">
    <h1 class="title" data-normal-text="Thông tin người dùng">Hồ Sơ Đạo Hữu</h1>
    <p class="subtitle" data-normal-text="Nhập tên và thông tin hiện tại">Khai đạo danh và cảnh giới hiện tại</p>

    {% if success %}
      <div class="status">Ghi danh thành công!</div>
    {% else %}
      {% if error %}
        <div class="error-msg">{{ error }}</div>
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          <label class="form-label" for="name" data-normal-text="Họ tên">Đạo danh</label>
          {% if form.name.errors %}
            <ul class="error-msg ">
              {% for error in form.name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.name }}
        </div>

        <div class="form-group">
          <label class="form-label" for="cultivation" data-normal-text="Cấp độ">Cảnh giới</label>
          {% if form.cultivation.errors %}
            <ul class="error-msg ">
              {% for error in form.cultivation.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.cultivation }}
        </div>

        <div class="form-group">
          <label class="form-label" for="dob" data-normal-text="Ngày sinh">Niên sinh</label>
          {% if form.dob.errors %}
            <ul class="error-msg ">
              {% for error in form.dob.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.dob }}
        </div>

        <button type="submit" class="submit-btn">Hoàn tất nhập môn</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
