{% extends "base.html" %}
{% load static %}

{% block title %}
  <title data-normal-text="Danh sách người dùng">Danh Sách Đạo Hữu</title>
{% endblock %}


{% block content %}
  <!-- Back button -->
  <a href="{% url 'home' %}" class="back-btn">
    <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path d="M15 18l-6-6 6-6"/>
    </svg>
  </a>

  <div class="container">
    <h1 class="page-title" data-normal-text="Danh sách người dùng">Danh Sách Đạo Hữu</h1>
    <p class="subtitle" data-normal-text="Người dùng đã đăng ký trong hệ thống">Những người đã lưu danh trong Thiên Nhãn Linh Kính</p>
    
    <div class="user-list" id="user-list">
      {% for user in users %}
        <!-- Users will be rendered here -->
        <div class="user-row">
          <div class="user-avatar">{{ user.name|first|upper }}</div>
          <div class="user-info">
            <div class="user-name">{{ user.name }}</div>
            <div class="user-detail" data-localize-text>Mã số: {{ user.id }} | Niên sinh: {{ user.dob }}</div>
            <div class="user-detail" data-localize-text>Cảnh giới: {{ user.cultivation_label }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
